<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="shop/fragments/layout :: head"></head>
<body class="home option2">
<!-- HEADER -->
<div id="header" class="header" th:replace="shop/fragments/layout :: header"></div>
<!-- end header -->
<!-- Home slideder-->
<div id="home-slider" th:replace="shop/fragments/layout :: slider"></div>
<!-- page wapper-->
<div class="columns-container">
    <div class="container" id="columns">
        <!-- breadcrumb -->
        <div class="breadcrumb clearfix">
            <a class="home" th:href="@{home}" title="Return to Home"><span	th:text="#{layout.header.menu.home}">Home</span></a>
            <span class="navigation-pipe">&nbsp;</span>
            <span class="navigation_page" th:text="#{changepassword.title}">Change password</span>
        </div>
        <!-- ./breadcrumb -->
        <!-- page heading-->
        <h2 class="page-heading">
            <span class="page-heading-title2"	th:text="#{changepassword.title}">Change password</span>
        </h2>
        <!-- ../page heading-->
        <div class="page-content">
            <div class="col-md-12">
				<form method="post" novalidate="novalidate" th:action="@{user/SubmitChangePassword}" th:object="${frmPass}" name="frmPass">
    			<div class="col-md-12">
    					<div class="box box-primary" >     
				            <div class="box-body">
						            <div class="alert alert-danger alert-dismissible" role="alert" th:if="${#fields.hasGlobalErrors()}">
									  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									  <ul>
									  	<li th:each="err : ${#fields.globalErrors()}" ><label class="control-label" th:text="${err}" ></label></li>
									  </ul>
										
									</div>
									<div class="col-md-5" style="text-align:center;">
										<img src="shop/assets/images/change-password.png">
									</div>
						            <div class="col-md-7">
						           		 <div class="form-group">
						           						 <label ><span th:text="#{changepassword.username}">UserName</span></label>
						            					<input type="text" class="form-control"  th:field="*{username}" th:errorclass="field-error" readonly="readonly">
				               							<label th:if="${#fields.hasErrors('username')}" th:errors="*{username}"  class="error"></label>
				               				</div>			
						            
						            	 <div class="form-group" >
						           						 <label ><span th:text="#{changepassword.newpassword}">New Password</span></label>
						            					<input type="password" class="form-control"  th:field="*{newpassword}" th:errorclass="field-error"  >
				               								<label th:if="${#fields.hasErrors('newpassword')}" th:errors="*{newpassword}"  class="error"></label>
				               				</div>		
				               				 <div class="form-group" >
						           						 <label ><span th:text="#{changepassword.renewpassword}">Re-New Password</span></label>
						            					<input type="password" class="form-control"  th:field="*{renewpassword}" th:errorclass="field-error"  >
				               						<label th:if="${#fields.hasErrors('renewpassword')}" th:errors="*{renewpassword}"  class="error"></label>
				               				</div>	
				               					<button type="submit" class="btn btn-primary"><span th:text="#{changepassword.submit}">Submit</span></button>
						            
						            </div>
							</div>
							 
				       </div>
    			</div>
    		</form>

			</div>
        </div>
    </div>
</div>
<!-- ./page wapper-->



<!-- Footer -->
<footer th:replace="shop/fragments/layout :: footer"></footer>
</body>
</html>