<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/layout :: head"></head>
<body class="hold-transition skin-red sidebar-mini">
<div class="wrapper" style="height: auto;">
    <header th:replace="admin/fragments/layout :: header"></header>

  	 <aside th:replace="admin/fragments/layout :: sidebar" class="main-sidebar"></aside>
  	 
  	  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        News
        <small>List Item</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="admin"><i class="fa fa-dashboard" ></i> Home</a></li>
        <li class="active">News</li>
      </ol>
    </section>

    <!-- Main content -->
    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="box box-primary">
      			 		  <!-- /* Handle the flash message */-->
									    <th:block th:if="${message != null}">
									        <!-- /* The message code is returned from the @Controller */ -->
									        <div th:replace="admin/fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
									    </th:block>
									      <!-- /* end Handle the flash message */-->
        <div class="box-header with-border row">
        	<form method="get" novalidate="novalidate" th:action="@{admin/news}">
		        <div class="col-md-3">
		        	<div class="input-group"> <input class="form-control" name="name"> <span class="input-group-btn"> 
		        	<button class="btn btn-success" type="submit"><i class="fa  fa-search"></i></button> </span> </div>
		        </div>
        	</form>
        </div> 
        <div class="box-body tb-news">
		      <div class="mailbox-controls">
         
         		<div class="btn-group">
                  <a  class="btn btn-primary btn-sm" th:href="@{admin/news/add}"><i class="fa fa-plus"></i></a>
                </div>
               
                 <div class="btn-group">
                  <button type="button" id="do_active_news" class="btn btn-success btn-sm"><i class="fa  fa-check"></i></button>
                </div>      
            	 <div class="btn-group">
                  <button type="button" id="do_disabled_news" class="btn btn-warning btn-sm"><i class="fa  fa-ban"></i></button>
                </div>  
                 <div class="btn-group">
                  <button type="button" id="do_delete_news" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
                </div> 
 
              </div>
            <form id="frm-table-news" novalidate="novalidate" method="post" style=" overflow-y: auto;">
           	<table class="table table-hover table-bordered">
                <thead><tr>
               <th class="text-center" style="vertical-align: middle"  width="55">
               	       <!-- Check all button -->
		                <button type="button" class="btn btn-default btn-sm checkbox-toggle77"><i class="fa fa-square-o"></i>
		                </button>
               </th>
               <th class="text-center" style="vertical-align: middle"  width="55">Edit</th>
               		  <th class="text-center" style="vertical-align: middle">Title</th>
               		    <th class="text-center" style="vertical-align: middle">#Category Name</th>
                	  <th class="text-center" style="vertical-align: middle">Created Date</th>
                	  <th class="text-center" style="vertical-align: middle">Creator</th>
                   <th class="text-center" style="vertical-align: middle"  width="100">Status</th>
                </tr>
              <thead>
              <tbody>
              		<tr  th:each="_new:${news}">
              		<td class="text-center" style="vertical-align: middle"><input type="checkbox"  th:value="${_new.id}" name="arr_id">  </td>
              			<td class="text-center" style="vertical-align: middle"><a th:href="@{'admin/news/edit/' + ${_new.id}}"><i class="fa fa-edit"></i></a></td>
              			<td >
              				<span th:if="${#strings.isEmpty(_new.image_feature)}" th:text="${_new.title}"></span>
              				<th:block  th:if="${!#strings.isEmpty(_new.image_feature)}">
              					<a target="_blank" th:href="@{'upload/news/' + ${_new.image_feature}}"><i class="fa  fa-picture-o"></i> <span th:text="${_new.title}"></span></a>
              				</th:block>
              			</td>
              			<th:block th:each="newscategory:${newscategories}">
              				<td	th:if="${newscategory.id==_new.category_id}"><span th:text="${newscategory.name}"></span></td>
              			</th:block>
            			<td  th:text="${#dates.format(_new.create_date, 'dd/MM/yyyy')}"></td>
            			<td  th:text="${_new.creator}"></td>
              		<td class="text-center" style="vertical-align: middle">
              				<span th:replace="admin/fragments/status :: htmlstatus(status=${_new.status})"></span>
              			</td>
              			
              		</tr>
              </tbody>
              </table>
            
            </form>  
           
           
            
        </div>
        <!-- /.box-body -->
        <div class="box-footer ">
              <div class="mailbox-controls">
               			<div th:replace="admin/fragments/paginationbar :: paginationbar"></div>
                <!-- /.pull-right -->
              </div>
            </div>
      </div>
      <!-- /.box -->
        

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
 <script src="js/news/main.js"></script> 	 

    <footer th:replace="admin/fragments/layout :: footer"></footer>
   <!-- /wapper --> 
  </div>  
</body>
</html>