<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/layout :: head"></head>
<body class="hold-transition skin-red sidebar-mini">
<div class="wrapper" style="height: auto;">
    <header th:replace="admin/fragments/layout :: header"></header>
  	 <aside th:replace="admin/fragments/layout :: sidebar" class="main-sidebar"></aside>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->    
     <section class="content-header">
      <h1>
       Orders Note<small th:text="${h1}"> Info Item</small>
      </h1>
      <ol class="breadcrumb">
        <li><a th:href='@{admin}'><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a th:href='@{admin/goods_deliveried_note}' th:text="'Orders'"> Orders Note</a></li>
        <li class="active" th:text="${h1}"> Info</li>
      </ol>
    </section>
    	<div class="pad margin no-print">
    									  <!-- /* Handle the flash message */-->
									    <th:block th:if="${message != null}">
									        <!-- /* The message code is returned from the @Controller */ -->
									        <div th:replace="admin/fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
									    </th:block>			   
									       <!-- /* end Handle the flash message */-->
								
  	  </div>
    
    
    	<section class="invoice">
      <!-- title row -->
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
           	<span th:text="'#'+${orders.id}"></span>	
           	<small >
            	Checked Status:	<span th:replace="admin/fragments/status :: document(status=${orders.IsCheck})"></span>
            </small>
            <small  th:text="'Date: '+ ${#dates.format(orders.CreateDate, 'dd/MM/yyyy')}">Date: 2/10/2014</small>
          </h2>
        </div>
        <!-- /.col -->
      </div>
      <!-- info row -->
      <div class="row invoice-info" style="    margin-bottom: 20px;">
        <div class="col-sm-4 invoice-col">
          <b th:text="'Orders: #' + ${orders.id}">Invoice #007612</b><br>
          <br>
          <b>Email:</b> <span th:text="${orders.Email}">aaaa</span><br>
          <b>Name :</b><span  th:text="${orders.Name}">aaaa</span><br>
          <b>Address:</b> <span th:text="${orders.Address}">aaaa</span><br>
          <b>Phone:</b> <span th:text="${orders.Phone}">aaaa</span><br>
          <b>PaymentMethod:</b> <span th:text="${orders.PaymentMethod.name}">aaaa</span><br>
          <b>DeliveryMethod:</b> <span th:text="${orders.DeliveryMethod.name}">aaaa</span><br>
          <b>DeliveryFee:</b> <span th:text="${orders.DeliveryMethod.fee}">aaaa</span><br>
        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
           <b>Note:</b>
          <address th:text="${orders.Note}">
        		
          </address>
        </div>
      </div>
      <!-- /.row -->

      <!-- Table row -->
      <div class="row">
        <div class="col-xs-12 table-responsive">
          <table class="table table-hover table-bordered">
            <thead>
            <tr>
             		<th style="width=:55px;">#</th>
					<th class="text-center" style="vertical-align: middle">#Product ID </th>
					 <th class="text-center" style="vertical-align: middle">Product Name</th>
					<th class="text-center" style="vertical-align: middle">Price</th>
					<th class="text-center" style="vertical-align: middle">Quantity</th>
					 <th class="text-center" style="vertical-align: middle">Amount</th>
			         
            </tr>
            </thead>
            <tbody>
            	 <th:block th:each="ordersDetail,status : ${orders.ordersDetails}" >
					<tr class="trDetail" >
					        <td><span th:text="${status.index + 1 }"></span></td>
							<td><span  th:text="${ordersDetail.ProductId}"></span> </td>
							<td ><span th:text="${ordersDetail.ProductName}"></span> </td>
							<td  class="text-right"> <span  th:text="${ordersDetail.Price}" ></span></td>
							<td  class="text-right"> <span th:text="${ordersDetail.Quantity}" ></span></td>
							<td  class="text-right"> <span th:text="${ordersDetail.Amount}" ></span></td>
					</tr>
				</th:block>
            </tbody>
          </table>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <div class="row">
        <!-- accepted payments column -->
        <div class="col-xs-6">
        
        </div>
        <!-- /.col -->
        <div class="col-xs-6">
          <p class="lead">Total</p>

          <div class="table-responsive">
            <table class="table">
              <tbody>
              <!-- <tr>
                <th style="width:50%">Shipping Fee:</th>
                <td><span th:text="${orders.DeliveryMethod.fee}">aaaa</span></td>
              </tr> -->
              <tr>
                <th style="width:50%">Total Quantity:</th>
                <td><span th:text="${orders.TotalQuantity}">aaaa</span></td>
              </tr>
              <tr>
                <th>TotalAmount[no shipping fee]</th>
                <td><span th:text="${orders.TotalAmount}">aaaa</span></td>
              </tr>
            </tbody></table>
          </div>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <!-- this row will not appear when printing -->
      <div class="row no-print">
        <div class="col-xs-12">
          <button class="btn btn-default" disabled><i class="fa fa-print"></i> Print</button>
          <button type="button" class="btn btn-success" id="btn-approve" ><i class=" fa fa-check-square-o "></i> Approve </button>
          <button type="button" class="btn btn-danger"  id="btn-destroy" ><i class=" fa  fa-close "></i> Destroy </button>
          <button type="button" class="btn btn-success pull-right" disabled><i class="fa fa-credit-card"></i> Submit Payment
          </button>
          <button type="button" class="btn btn-primary pull-right" style="margin-right: 5px;" id="btn-export" disabled>
            <i class="fa fa-download"></i> Generate PDF
          </button>
        </div>
      </div>
    </section>
  </div>
	 <form  method="post" id="frm-orders"><input type="hidden" name="id" th:value="${orders.id}"></form>
  <!-- /.content-wrapper -->
  	 <script src="js/orders/info.js"></script> 	 
    <footer th:replace="admin/fragments/layout :: footer"></footer>
   <!-- /wapper --> 
 </div>   
</body>
</html>